h2 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.item {
    background-color: #F6F6FE;
    padding: 16px;
    margin-bottom: 24px;
}

.item li {
    padding: 8px 16px;
    border: #2E2F42 solid 1px;
    border-radius: 4px;
    margin-bottom: 8px;
}